@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600;700&family=Sanchez&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sanchez", serif;
}
