@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600;700&display=swap");

.register__page {
  /* background-color: rgb(228, 227, 227); */
  background-color: #f9f3e3;
  min-height: 100vh;
  display: flex;
}

.register {
  /* background-color: antiquewhite; */
  margin: auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.company h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #62868d;
}

.logo {
  width: 4rem;
  height: 4rem;
  background-color: rgb(228, 227, 227);
  border-radius: 50%;
  border: 2px solid #cfc8b5;
}

#welcome__title {
  text-align: center;
  padding: 0.5rem 0;
}

#brand__name {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

form input,
form button,
form textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
}

form input,
form textarea {
  width: 100%;
  border: none;
  background-color: #cfc8b5;
}

form textarea {
  height: 114px;
  font-family: sans-serif;
}

form button {
  background-color: #0e1012;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  margin-top: 1.2rem;
}

form button:hover {
  background-color: rgb(0, 0, 0);
  transition: all 0.1s ease-in-out;
}

.register__form sup {
  color: red;
}

.register__form p {
  text-align: center;
  color: #62868d;
}

.register__form .login__link {
  text-decoration: none;
  font-weight: 900;
  color: #62868d;
}

.signUp__image {
  width: 28rem;
  height: 34rem;
  border-radius: 5px;
  border: 2px solid #cfc8b5;
}

#authentication__error__message {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}
